.footer {
  display: flex;
  margin: 0 auto;
}

.footer__copyright {
  display: flex;
  margin: 40px 19px 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  color: #545454;
}
