.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 296px);
  margin: 0 auto;
}

.header__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  max-width: 720px;
  margin: 91px auto 32px;
  text-align: center;
}

.header__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  max-width: 720px;
  margin: 0 auto 64px;
  text-align: center;
}

.header__image {
  width: 100%;
  margin-bottom: 92px;
}

@media screen and (max-width: 1280px) {
  .header {
    width: calc(100% - 48px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }

  .header__title {
    font-size: 75px;
    line-height: 1;
    max-width: 530px;
    margin: 91px auto 25px;
  }

  .header__subtitle {
    font-size: 30px;
    line-height: 1.2;
    max-width: 720px;
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
  }

  .header__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 228px;
    margin: 50px auto 16px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 288px;
    margin: 0 auto 40px;
  }
  .header__image {
    width: 100%;
    margin-bottom: 64px;
  }
}
