.photo-grid {
}

.photo-grid__card {
  width: calc(100% - 38px);
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.photo-grid__card-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.photo-grid__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 21px;
  margin-right: 21px;
}
.photo-grid__card-title {
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* @media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px 16px;
    margin: 0 auto;
    width: calc(100% - 48px);
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px 16px;
    width: calc(100% - 96px);
    margin-bottom: 62px;
    margin-top: 118px;
    margin-left: auto;
    margin-right: auto;
  }
} */
